body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.features-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.feature-header {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-description {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.word-logo-header {
  color: #2e2f42;
}

.word-logo-footer {
  color: #f4f4fd;
}

.menu-item {
  color: #2e2f42;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-item {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
}

.hero-image-header {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-image-button {
  color: #ffffff;
  cursor: pointer;
  line-height: 0.67em;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-image-button:hover {
  background-color: #404bbf;
}

.hero-image-button:focus {
  background-color: #404bbf;
}

.our-team {
  background: #f4f4fd;
}

.team-member {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.footer-description {
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
