body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  margin: 0 auto;
}

.top-line {
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu li {
  margin-right: 40px;
}

.menu li:first-child {
	padding: 24px 0;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu-item {
  padding: 24px 0;
}

.logo {
  margin-right: 76px;
}

.features-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-header {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center; 
}

.feature-description {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.word-logo-header {
  color: #2e2f42;
}

.word-logo-footer {
  color: #f4f4fd;
}

.menu-item {
  color: #2e2f42;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
}

.address li {
  margin-right: 40px;
}

.address li:last-child {
  margin-right: 0;
}

.address-item {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-image-header {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-image-button {
  color: #ffffff;
  cursor: pointer;
  line-height: 0.67em;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-image-button:hover {
  background-color: #404bbf;
}

.hero-image-button:focus {
  background-color: #404bbf;
}

.section-features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  margin-right: 24px;
}

.features-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  max-width: calc((100% - 3 * 24px) / 4);
}

.features-list li:last-child {
  margin-right: 0;
}

.our-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-list li {
  margin-right: 24px;
}

.our-team-list li:last-child {
  margin-right: 0;
}

.our-team-list li:first-child {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px; 
}

.member {
  padding: 32px 0;
}

.team-member {
  background-color: #ffffff;
}

.section-portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;

}


.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.portfolio-item div h3 {
  margin-bottom: 8px 
}

.footer {
  background-color: #2e2f42;
  color: #ffffff;
  display: inline-block;
  padding: 100px 0;
}

.footer a {
  margin-bottom: 16px;
}

.footer-description {
  font-weight: 400;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc
}

.footer .container .logo{
  display: inline-block;
}